<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles.css" type="text/css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div id="navbar">
        <a href="../index.html">CSC Studio</a>
        <a href="shop.html">Shop</a>
        <a href="about.html">About</a>
        <a href="faq.html">FAQ</a>
        <input type="text" placeholder="Search..">
        <a href="login.html">Login</a>
    </div>    
</body>
</html>